html {
  background-color: #f0eee6;
}

body {
  font-family: Menlo, monospace;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 638px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  font-size: 14px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  color: #121213;
  text-decoration: none;
}

.dark a {
  color: #e2e9f6;
}

nav a {
  margin-right: 10px;
}

.dark nav a {
  color: #e2e9f6;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  padding: 2px 5px;
  background-color: #c282db;
}

.dark code {
  color: #000000;
}

pre {
  padding: 1rem;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

pre::-webkit-scrollbar {
  display: none;
}

pre>code {
  all: unset;
}

blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

button {
  cursor: pointer;
}

html.dark {
  background-color: #101013;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

.article-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donation {
  display: flex;
  gap: 10px;
}

.buy-me-a-coffee {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  border-radius: 5px;
  border: none;
  padding: 7px;
  background-color: darkorange;
  color: #dedbdb;
  gap: 10px;
  cursor: pointer;
}

.buy-coffee-text {
  font-size: 0.8rem;
  color: black;
}

.btc-image {
  width: 52px;
  height: 52px;
  border-radius: 4px;
  padding: 2px;
  border: 2px solid black;
}

.dark .btc-image {
  border: 2px solid white;
}

.content-list {
  display: flex;
  flex-flow: column;
  padding: 0;
  gap: 10px;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.projects {
  margin-top: 20px;
  margin-bottom: 40px;
}

.project-link {
  text-decoration: underline;
}
