html {
  background-color: #fdfdfd;
}

body {
  font-family: Menlo, monospace;
  margin: auto;
  padding: 20px;
  max-width: 65ch;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
}
a {
  color: #121213;
  text-decoration: none;
}

.dark a {
  color: #e2e9f6;
}

nav a {
  margin-right: 10px;
}

.dark nav a {
  color: #e2e9f6;
}

textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #c282db;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}

blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

button {
  cursor: pointer;
}

html.dark {
  background-color: #101013;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donation {
  display: flex;
  gap: 10px;
}

.buy-me-a-coffee {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  border-radius: 5px;
  border: none;
  padding: 7px;
  background-color: darkorange;
  color: #dedbdb;
  gap: 10px;
  cursor: pointer;
}

.buy-coffee-text {
  font-size: 0.8rem;
  color: black;
}

.btc-image {
  width: 52px;
  height: 52px;
  border-radius: 4px;
  padding: 2px;
  border: 2px solid black;
}

.dark .btc-image {
  border: 2px solid white;
}

.social-content {
  display: flex;
  flex-flow: column;
  padding: 0;
  gap: 10px;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 10px;
}
