---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BuyMeACoffe from "../components/BuyMeACoffe.astro";
import BitcoinWallet from "../components/BitcoinWallet.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hey, Mate! 🥝</h1>
      <p>
        My name is Igor Vieira and I'm a Software Developer from Brazil. I'm
        passionate about technology and discovering new things. This is my
        personal website, where I share my thoughts, save my projects and write
        about my experiences.
      </p>
      <p>
        If you want to support me, consider buying me a coffee or donating to my
        Bitcoin Wallet.
      </p>

      <section class="donation">
        <BuyMeACoffe />
        <BitcoinWallet />
      </section>
    </main>
    <Footer />
  </body>
</html>
