---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BuyMeACoffe from "../components/BuyMeACoffe.astro";
import BitcoinWallet from "../components/BitcoinWallet.astro";
import { Github, Youtube, Linkedin, X} from "iconoir-react";

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hey! 🍋</h1>
      <p>
        My name is Igor Vieira, and I'm a Software Developer from Brazil. This is where I share my thoughts, craft my projects, and write about my experiences.
      </p>

      <h2>social networks</h2>
      <ul class="content-list">
        <li class="social-links">
          <Github />
          <a href="https://github.com/igorvieira" target="_blank">GitHub</a>
        </li>
        <li class="social-links">
          <Youtube />
          <a
            href="https://www.youtube.com/channel/UCZ1cXK9h6_uZt14Jf3gNziQ"
            target="_blank">YouTube</a
          >
        </li>
        <li class="social-links">
          <X />
          <a href="https://x.com/igorprvieira" target="_blank">
            ¯\_(ツ)_/¯
          </a>
        </li>
        <li class="social-links">
          <Linkedin />
          <a
            href="https://www.linkedin.com/in/igor-vieira-6b05a185/"
            target="_blank">LinkedIn</a
          >
        </li>
      </ul>

      <section class="projects">
        <h2>projects</h2>
        <ul class="content-list">
          <li>
            <a class="project-link" href="https://github.com/sreq-inc/solo" target="_blank">Solo</a>: HTTP Client using Rust/Vite. 
          </li>
           <!-- <li>  -->
           <!--   <a class="project-link" href="">Leetcode</a>: A collection of my solutions to LeetCode problems, written in Javascript.   -->
           <!-- </li>  -->
        </ul> 
      </section>
      
      <p>
        If you want to support me, consider buying me a coffee or donating to my
        Bitcoin Wallet.
      </p>

      <section class="donation">
        <BitcoinWallet />
        <BuyMeACoffe />
      </section>
    </main>
    <Footer />
  </body>
</html>
